{{ template "base.html" . }}
{{ define "body" }}
    <h2>This is Home Page</h2>
    <h2>This is Home Page</h2>
    <h2>This is Home Page</h2>
    <h2>This is Home Page</h2>
    <h2>This is Home Page</h2>
    <h2>This is Home Page</h2>
    <h2>This is Home Page</h2>
    <h2>This is Home Page</h2>
    <h2>This is Home Page</h2>
    <h2>This is Home Page</h2>
    <h2>This is Home Page</h2>
    <h2>This is Home Page</h2>
    <h2>This is Home Page</h2>
    <h2>This is Home Page</h2>
    <h2>This is Home Page</h2>
    <h2>This is Home Page</h2>
    <h2>This is Home Page</h2>
    <h2>This is Home Page</h2>
    <h2>This is Home Page</h2>
    <h2>This is Home Page</h2>
    <h2>This is Home Page</h2>
    <h2>This is Home Page</h2>
    <h2>This is Home Page</h2>
{{ end }}